/.idea/
/.mixin.out/
/crash-reports/
/downloads/
/local/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/.curseclient
/BotaniaVars.dat
/knownkeys.txt
/minecraftinstance.json
/patchouli_data.json
/realms_persistence.json
/usercache.json
/usernamecache.json
